// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 auto;
  width: 750px;
  padding: 0 15px;
  display: block;
  text-align: left;
}

a {
  color: #333333;
}

a:visited {
  color: #333333;
}
